* {margin: 0;
padding: 0;
box-sizing: border-box;}

.container {margin: auto;
    min-height: 100vh;
width: 1920px;}
                    
.top-main {
    width: 1920px;
height: 847px;
flex-shrink: 0;
background-color: var(--Black-5, rgba(30, 40, 50, 0.05));
position: relative;
padding-top: 31px;} 

.header {width: 1320px;
    height: 113px;
    margin: auto;
    gap: 30px;}

.top-header {width:1320px;
    height: 59px;
    display: flex;
    justify-content: center;
    position: relative;}

.top-header span {color: var(--Dark, #000);
    font-family: 'AmstelvarAlpha', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.top-header svg {margin: 10px;}
.top-header>i{position: absolute;
left: 0;
top: 4px;
display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;}


.account {display: flex;
        width: 221px;
        height: 25px; 
    position: absolute;
    top: 4px;
    right: 2px;
    padding-right: 0px;
    justify-content: space-between;
    align-items: center;}

.account button {width: 100px;;
 height: 25px;
  border: none;
  background: none;
  margin: 0; 
  font-size: 18px;}

 .account li {list-style-type: none;}

.account li button i {margin-right: 8px;
    font-size: 20px;}
   
.account li button a { text-decoration: none;
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
 font-style: normal;
  font-weight: 400;
  line-height: normal;
 text-transform: capitalize;
color: black;}
.account li button:hover a {color: rgb(243, 86, 51);}
.account li button:hover i {color: rgb(243, 86, 51);}
hr {
height: 1px;
background: #E3E3E3;}



.header .menu {width: 1320px;
    display: flex;
margin-top: 30px;
justify-content: space-between;
align-items: center;}
.header ul li {font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;
list-style-type: none;    
}
.header ul li:hover {color: rgb(243, 86, 51);}


.top-main .product {width: 1226px;
height: 562px;
display: flex;
margin-left: 300px;
margin-top: 81px;
z-index: 0;}

.top-main .product .content {width: 686px;
height: 364px;
margin-top: 74px;
padding-left: 4px;
z-index: 99999999;}
.product .content p:nth-child(1) {
    color: black;
font-size: 74px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
text-transform: capitalize;
line-height: 55px;
word-wrap: break-word;
}
.product .content p:nth-child(2) {
    color: black;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 61px;
    word-wrap: break-word;
    margin-top: 52px;
}
.product .image {margin-left: 98px;}
.product .content button {width: auto;
    height: 72px;
    padding: 19px 26px 19px 26px;
    background-color: #1E2832;
    justify-content: center; 
    align-items: center;
     gap: 8px;
      display: inline-flex;
      margin-top: 66px;
    border: 0px;}

.product .content button span {
    color: white;
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-left: 8px;
}
.product .content button i {
    color: white;
font-size: 24px;
font-family: Font Awesome 6 Free;
font-weight: 900;
word-wrap: break-word
}
.product .content button:hover {background-color: rgb(243, 86, 51);}


.top-main .flower-pattern {
    position: absolute;
    width: 1920px;
    height: 373px;
    top: 365.8px;
    display: flex;
}

.top-main .flower-pattern .frame1 {
    width: 132.31px;
     height: 114.61px; 
     left: 0.02px; 
     bottom: 3%; 
     position: absolute; 
   
}
.top-main .flower-pattern .frame2 {
    width: 194.75px; 
    height: 261.91px;
position: absolute;
 
       flex-direction: column; 
       justify-content: center; 
       align-items: center; 
       display: inline-flex;
       right: 10px;
       bottom: 20%;        
          flex-direction: column; 
          justify-content: center; 
          align-items: center; display: inline-flex
}

.brand {width: 1320px;
height: 70px;
justify-content: space-between; 
align-items: center; 
display: inline-flex;
margin: 90px 300px 90px 300px;
}

.hot-category {width: 1320px;
height: 648px;
margin: 0px 300px 90px 300px;

display: flex;
position: relative;}
.hot-category p {width: 648px;
height: 52px;
font-size: 34px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
text-transform: uppercase;
word-wrap: break-word;
position: absolute;
top: 298px;
left: -350px;
transform: rotate(-90deg);
text-align: center;
color: var(--Dark, #000);
font-feature-settings: 'clig' off, 'liga' off;}



.card-left {
    width: 648px;
height: 648px;
position: relative;}

.hot-category .product-shop {width: 100%;
    height: 52px;
    background-color: black;
    position: absolute;
    bottom: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    display: none;
}
.card-left:hover .product-shop {display: inline-block;
    justify-content: space-between;
    padding-left: 14px;
    display: flex;
    padding-right: 14px;}
.content-card:hover .product-shop {display: block;
    justify-content: space-between;
    padding-left: 14px;
    display: flex;
    padding-right: 14px;}
  
  
.card-right {
    width: 648px;
height: 648px;
margin-left: 24px;}

.row {
height: 312px;
display: flex;
margin: 0 -12px;}

.card {padding-left: 12px;
padding-right: 12px;}

.colum1 {width: calc(100%/2);}

.content-card {width: 100%;
height: 312px;
margin-bottom: 20px;
position: relative;}

.colum1 .content-card .sale {width:52px;
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 22px;
    left: 0;
    background-color: black;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    display: flex;
    justify-content: center;
    align-items: center;}

.row1 {height: 312px;
    display: flex;
    margin: 24px -12px 0 -12px;}

    
.grid-products {width: 1320px;
    height: 1141px;
    margin: 140px 300px 0 300px;}
.top-section-title {width: 100%;
    display: flex;
    justify-content: center;}

.section-title {width: 707px;
    height: 59px;
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
    color: black;
font-size: 50px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-transform: capitalize;
word-wrap: break-word;}

.top-section {width: 100%;
height: 32px;
margin-top: 35px;
display: flex;
align-items: center;
position: relative;}

.top-section-category {width: 373px;
height: 22px;}
.top-section-category ul {display: flex;
justify-content: space-between;
color: black;}

li {list-style-type: none;}
a {text-decoration: none;}


.top-section-category ul li .item-tab {
    color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    word-wrap: break-word;}
.top-section-category ul li .item {
    color: rgba(117, 114, 114, 0.5);
font-size: 16px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
text-transform: capitalize;
word-wrap: break-word;}
.top-section-category ul li:hover .item {color:rgb(243, 86, 51) ;}

.top-section button {position: absolute;
    right: 0px;
    color: white;
    padding-left: 15px;
     padding-right: 15px; 
     padding-top: 5px; 
     padding-bottom: 5px; 
     background: #1E2832; 
     justify-content: flex-start; 
     align-items: center; gap: 4px; 
     display: inline-flex;
    border: 0px;}

.top-section button span {color: white;
    font-size: 16px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
text-transform: capitalize;
word-wrap: break-word;
margin-left: 4px;}
.top-section button i {
    color: white;
font-size: 14px;
font-family: Font Awesome 6 Free;
font-weight: 900;
word-wrap: break-word;}

.top-section button:hover {background-color:rgb(243, 86, 51) ;}



.row-product{
    height: 478px;
    display: flex;
    margin: 35px -12px 0 -12px;}
    
    .hot {padding-left: 12px;
    padding-right: 12px;}
    
    .product-colum {width: calc(100%/4);}
    
    .product-content {width: 100%;
    height: 478px;
    margin-bottom: 24px;
}
.product-content .product-image {
    width: 312px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; }
   
.product-content .botton-product {
height:60px;
margin: 18px 10px 0 10px ;
position: relative;}

.product-content .botton-product span:nth-child(1) {
    font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
color: var(--Dark, #000);
text-align: right;
font-feature-settings: 'clig' off, 'liga' off;}

.product-content .botton-product span:nth-child(2){
    font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
color: var(--Dark-50, rgba(0, 0, 0, 0.50));
font-feature-settings: 'clig' off, 'liga' off;
position: absolute;
bottom: 0;
left: 0;}
.product-content .botton-product span:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
color: var(--Dark, #000);
text-align: right;
font-feature-settings: 'clig' off, 'liga' off;
position: absolute;
bottom: 0;
right: 0;}

.product-content .product-image {
    position: relative;}
.product-content .product-shop {width: 312px;
height: 55px;
background-color: black;
position: absolute;
bottom: 0;
color: white;
font-family: 'Open Sans', sans-serif;
align-items: center;
display: flex;
font-size: 20px;
padding-left: 5px;
display: none;}


.product-content .product-shop button {
    background-color: black;
    color: white;
    border: 0px;
    position: absolute;
    right: 15px;
    font-family: 'Open Sans', sans-serif;
align-items: center;
font-size: 17px;}

.product-content .product-shop button:hover {color:  rgb(243, 86, 51);}

.product-content .product-shop i {margin: 12px;}
.product-colum:hover .product-shop {display: block;
align-items: center;
display: flex;}

.row2-product{
    height: 478px;
    display: flex;
    margin: 24px -12px 0 -12px;}

.product-content .product-image .sale {width:52px;
height: 24px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: absolute;
top: 22px;
left: 0;
background-color: black;
color: var(--White, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
display: flex;
justify-content: center;
align-items: center;}

.product-content .product-image .hot {width:52px;
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 22px;
    left: 0;
    background-color: #FF6F61;
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    display: flex;
    justify-content: center;
    align-items: center;}

.discount {
color: orangered !important}


.botton-product .discount-hide {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
color: var(--Dark, #000);
text-align: right;
font-feature-settings: 'clig' off, 'liga' off;
position: absolute;
bottom: 0;
right: 0;
display: none;}
.product-content:hover .discount-hide{display: block;}
.product-content:hover .discount {display: none;}
.product-content:hover .discount1 {display: none;}

.product-content .botton-product .discount1 {
    color: var(--Dark-50, rgba(0, 0, 0, 0.50));
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    
    
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: line-through;
    text-transform: capitalize;
position: absolute;
bottom: 0;
right: 72px;}


.baner {width: 1920px;
height: 776px;
position: relative;
margin-top: 140px;}

.baner-logo1 {width: 676px;
    height: 309px;
    flex-shrink: 0;
    position: absolute;
left: 1244px;
top: 51px;
background: cover no-repeat;
}
.baner-logo2 {
    width: 191px;
height: 81px;
position: absolute;
top: 233px;
right: 646px;}
.baner-content {width: 504px;
    height: 187px;
    font-family: 'Roboto', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 48px; 
text-transform: capitalize;
color: #FFF;
position: absolute;
top: 369px;
right: 333px;
}
.baner button {
    font-family: 'Roboto', sans-serif;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
color: var(--Black, #1E2832);
font-feature-settings: 'clig' off, 'liga' off;
padding: 19px 26px;
position: absolute;
left: 1084px;
top: 611px;}

.baner button:hover{background-color: #FF6F61;;}


.slider-product {width: 1320px;
height: 639px;

margin: 140px 300px 0 ;}
.slider-product .slider-tittle{
    text-align: center; 
font-size: 50px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-transform: capitalize;
word-wrap: break-word
}

.newsletter-instagram {
    width: 1920px;
    height: 754px;
    background-color: var(--Black-5, rgba(30, 40, 50, 0.05));
margin-top: 140px;
padding: 100px 300px;}

.container-newsletter {width: 1320px;
    height: 554px;}
   




.newsletter-tittle {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    word-wrap: break-word;}

.row-newsleter{
    height: 200px;
 display: flex;
 margin: 60px -12px 70px -12px;}
        
 .show {padding-left: 12px;
    padding-right: 12px;}
        
 .newsleter-colum {width: calc(100%/6);}
        
 .newsleter-content {width: 100%;
     height: 200px;
     margin-bottom: 24px;
     position: relative;}


.newsleter-content i {
    position: absolute;
    font-size: 48px;
   top: 38%;
    color: white;
    left: 39%;
    display: none;  
}
.newsleter-content:hover i {display: block;}
.newsleter-content:hover img {
    filter: brightness(50%);
}
        

.newsletter-form {width: 760px;
height: 165px;
margin: auto;
position: relative;}


.newsletter-form p {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    word-wrap: break-word;}
    
.newsletter-form form input:nth-child(2) {
    color: rgba(30, 40, 50, 0.50);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    word-wrap: break-word;
    width: 643px;
    height: 32px; 
    position: absolute;
    bottom: 0;
    padding: 0 0 13px 15px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}
    .newsletter-form form input:nth-child(3) {
        color: #1E2832;
        font-size: 16px;
        font-family: Open Sans;
        font-weight: 400;
        text-transform: capitalize;
        word-wrap: break-word;
      padding: 0 16px 10px 16px;
        position: absolute;
        bottom: 0;
    right: 0; 
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;}

.footer {width: 1920px;
    height: 355px;
margin-top: 140px;}


.top-footer {
    width:1320px;
    height: 213px;
    margin: auto;
display: flex;}

.footer-menu {width: 300px;
height: 213px;}

.Left-footer {width: 392px;
height: 207px;
margin-right: 56px;
align-items: center;
}
.Left-footer span {
    height: 34px;
    color: black;
font-size: 28px;
font-family: 'AmstelvarAlpha', sans-serif;
font-weight: 400;
word-wrap: break-word;
margin: 10px;
align-items: center;
}
.Left-footer .left-content {
    margin-top: 32px;
    color: #1E2832;
font-size: 16px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
text-transform: capitalize;
word-wrap: break-word;
line-height: 29px;
}

.Left-footer img {
    width: 31px;
    height: 15px;
}


.Left-footer div {margin-top: 32px;
    color: #1E2832;
    font-size: 20px;
    font-family: Font Awesome 6 Brands;
    font-weight: 400;
    word-wrap: break-word;
    word-spacing: 36px;
    margin-right: 56px;
}

    .Left-footer div i {width: 20px; height: 19px; text-align: center;}


.footer .footer-menu {width: 200px;}
.footer .main1 {margin-left: 136px;}
.footer .main2 { margin-left: 137px;}


.footer p {color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-bottom:22px ;
}
.footer ul {color: #1E2832;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 34px;}

.footer ul li a {
    text-decoration: none;
    color: black;}
.footer-menu ul li:hover a {color:rgb(243, 86, 51) ;}


.botton-footer {width: 1920px;
height: 52px;
background: #1E2832 ;
margin-top: 90px;
padding-left: 300px; 
padding-right: 300px; 
padding-top: 10px;
 padding-bottom: 10px; 
 justify-content: flex-start;
align-items: center; 
gap: 375px; 
display: inline-flex;
justify-content: center;
}
 

.botton-footer .year {
color: white;
font-size: 16px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
text-transform: capitalize;
word-wrap: break-word

}
.botton-footer button {
    padding: 5px 15px;
    background-color: #1E2832;
    border: none;
}
.botton-footer button:hover {background-color: rgb(243, 86, 51);}
.botton-footer button span {
    color: white;
font-size: 16px;
font-family: Open Sans;
font-weight: 400;
text-transform: capitalize;
word-wrap: break-word
}
.botton-footer button i {
    color: white;
font-size: 14px;
font-family: Font Awesome 6 Free;
font-weight: 900;
word-wrap: break-word;
margin-left: 4px;
}
